{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["import"],
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "indent": [2, 2],
    "global-require": "off",
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ]
  }
}
